extends layout

block content
    h1= title
    p Welcome to the dashboard

    // Wrapper plaid
    #wrapper.aderaPlaid
    
        //USER INFO plaid
        #userInfo
            h2 User Info
            p
                strong Name:
                |   <span id='userInfoName'></span>
                br
                strong Number of Pills Prescribed:
                |   <span id="userInfoPrescriptionPillNumber"></span>
                br
                strong Prscription Frequency:
                |   <span id="userInfoPrescriptionFrequency"></span>
                br
                strong Email:
                |   <span id="userInfoEmail"></span>
                br
                strong Age:
                |   <span id="userInfoAge"></span>
                br
                strong Gender:
                |   <span id="userInfoGender"></span>
        //  /USER INFO

        // USER DATA plaid
        h2 User Data
        #userData.aderaPlaid
            table#tableContainer
                tr
                    td
                        table#tableTop
                            th Last updated
                            th Pills in bottle
                            //th Edit
                tr
                    td
                        #bottomTableDiv
                            table#tableBottom
                                tbody
        // /USER LIST

    // /WRAPPER plaid
    
    // Wrapper blue
    #wrapper.aderaBlue
    
        //USER INFO blue
        #userInfo
            h2 User Info
            p
                strong Name:
                |   <span id='userInfoName'></span>
                br
                strong Number of Pills Prescribed:
                |   <span id="userInfoPrescriptionPillNumber"></span>
                br
                strong Prscription Frequency:
                |   <span id="userInfoPrescriptionFrequency"></span>
                br
                strong Email:
                |   <span id="userInfoEmail"></span>
                br
                strong Age:
                |   <span id="userInfoAge"></span>
                br
                strong Gender:
                |   <span id="userInfoGender"></span>
        //  /USER INFO

        // USER DATA blue
        h2 User Data
        #userData.aderaBlue
            table#tableContainer
                tr
                    td
                        table#tableTop
                            th Last updated
                            th Pills in bottle
                            //th Edit
                tr
                    td
                        #bottomTableDiv
                            table#tableBottom
                                tbody
        // /USER LIST

    // /WRAPPER blue