extends layout


block content

    .nav
        ul
            li.home
                a(href="#") Adera
                
    #main

        h2(align="center") Welcome to the dashboard
        
        // LEGEND
        #legend
            h2 Legend
            p
                table
                    tr
                        td#level1 0-20 pills
                    tr
                        td#level2 21-40 pills
                    tr
                        td#level3 41-60 pills
                    tr
                        td#level4 61-80 pills
                    tr
                        td#level5 81-100 pills
                    tr
                        td#level6 101-120 pills
        // /LEGEND

        // Wrapper plaid
        #wrapper.aderaPlaid

            //USER INFO plaid
            #userInfo.aderaPlaid
                h2 User Info
                p
                    strong Name:
                    |   <span id='userInfoName'></span>
                    br
                    strong Number of Pills Prescribed:
                    |   <span id="userInfoPrescriptionPillNumber"></span>
                    br
                    strong Prscription Frequency:
                    |   <span id="userInfoPrescriptionFrequency"></span>
                    br
                    strong Email:
                    |   <span id="userInfoEmail"></span>
                    br
                    strong Age:
                    |   <span id="userInfoAge"></span>
                    br
                    strong Gender:
                    |   <span id="userInfoGender"></span>
            //  /USER INFO

            // USER DATA plaid
            h2 User Data
            #userData.aderaPlaid
                table#tableContainer
                    tr
                        td
                            table#tableTop
                                th Last updated
                                th Pills in bottle
                                //th Edit
                    tr
                        td
                            #bottomTableDiv
                                table#tableBottom
                                    tbody
            // /USER LIST
            

        // /WRAPPER plaid
        
        


        br
        br
        br
        br

        // Wrapper blue
        #wrapper.aderaBlue

            //USER INFO blue
            #userInfo.aderaBlue
                h2 User Info
                p
                    strong Name:
                    |   <span id='userInfoName'></span>
                    br
                    strong Number of Pills Prescribed:
                    |   <span id="userInfoPrescriptionPillNumber"></span>
                    br
                    strong Prscription Frequency:
                    |   <span id="userInfoPrescriptionFrequency"></span>
                    br
                    strong Email:
                    |   <span id="userInfoEmail"></span>
                    br
                    strong Age:
                    |   <span id="userInfoAge"></span>
                    br
                    strong Gender:
                    |   <span id="userInfoGender"></span>
            //  /USER INFO

            // USER DATA blue
            h2 User Data
            #userData.aderaBlue
                table#tableContainer
                    tr
                        td
                            table#tableTop
                                th Last updated
                                th Pills in bottle
                                //th Edit
                    tr
                        td
                            #bottomTableDiv
                                table#tableBottom
                                    tbody
            // /USER LIST

        // /WRAPPER blue