doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='http://cdn.jsdelivr.net/sparkjs/0.4.2/spark.min.js')
    script(src='/javascripts/global.js')
    script(src='/javascripts/sparkConnect.js')